.carSearch {
  display: flex;
  color: white;
  padding: 1rem 5rem;
  /* background: #000; */
}
.carSearch .carSearchForm {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin: auto 2rem;
  margin: 0.5rem;
  width: 10rem;
}

.formGroup select,
.formGroup input {
  padding: 0.1rem;
  margin-top: 0.3rem;
}
.formGroup button {
  background: white;
  color: black;
  border: none;
  width: 5rem;
  height: 2rem;
  margin-top: 2rem;
  padding: 0.1rem;
  cursor: pointer;
  box-shadow: 1px 1px 10px 2px #000;
}
